.section-form {
  margin-top: 66px;

  h2 {
    color: #1d2121;
    font-family: 'Open Sans';
    font-size: 30px;
    letter-spacing: -0.16px;
    line-height: 41px;
    text-align: center;
  }

  .form-container {
    margin-top: 23px;
    margin-bottom: 106px;

    .field-section {
      margin-top: 46px;
    }
  }
}
